﻿body {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
    text-align: center;
    background-color: #222733;
}

a, a:hover, a:focus {
    text-decoration: none;
}

h3, h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    line-height: 50px;
}
h3 {
    font-size: 22px;
    font-weight: 300;
}

.my-content {
    padding: 100px 0 170px 0;
}

.myform-cont {
    margin-top: 35px;
}

.myform-cont-2 {
    margin-top: 35px;
}

.myform-top{
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(0,0,0,0.35);
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.myform-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
    text-align: left;
}

.myform-top-left p{
    opacity: 0.8;
}

.myform-top-right {
    float: right;
    width: 25%;
    padding-top: 25px;
    font-size: 66px;
    text-align: right;
    opacity: 0.3;
}

.myform-bottom {
    padding: 25px 25px 30px 25px;
    background: rgba(0,0,0,0.3);
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
.myform-bottom-2 {
    padding: 25px 25px 30px 25px;
    background: rgba(0,0,0,0.3);
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    width:auto;
}
    .myform-bottom .mybtn{
        width: 100%;
    }

    .myform-bottom .mybtn-2 {
        width: 25%;
    }

input[type="text"],
input[type="date"],
input[type="number"],
input[type="password"],
textarea,
textarea.form-control {
    height: 50px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
}
    input[type="text"]:focus,
    input[type="date"]:focus,
    input[type="number"]:focus,
    input[type="password"]:focus,
    textarea:focus,
    textarea.form-control:focus {
        background: #fff;
        border: 2px solid #1AAE88;
    }

button.mybtn {
    height: 50px;
    background: #1AAE88;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
button.mybtn-2 {
    height: 50px;
    background: #1AAE88;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
button.mybtn-2:hover,
button.mybtn-2:active {
    opacity: 0.6;
    color: #fff;
}
button.mybtn-2:focus {
    opacity: 0.6;
    color: #fff;
    background: #de615e;
}

    button.mybtn:hover,
    button.mybtn:active {
        opacity: 0.6;
        color: #fff;
    }


    button.mybtn:focus {
        opacity:0.6;
        color: #fff;
        background: #de615e;
    }

.mysocial-login {
    margin-top: 35px;
}

.mysocial-login-hyperlink {
    margin-top: 25px;
}