﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActivitiesView</title>
</head>
<body>
    <div>
        <table class="table table-striped">
            <tr>
                <th>
                    Actividad
                </th>
                <th>
                    Instructor
                </th>
                <th>
                    Salon
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in (List<Administrative_Management.Models.Reservation>)ViewBag.ListReservationCompleted)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.activity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.instructor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.salon)
                    </td>
                    <td>
                        @Html.ActionLink("Matricularme", "Enroll", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
