﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminReservationView</title>
</head>
<body>
    <div>
        @Html.ActionLink("Crear Reservacion", "CreateReservationView")
    </div>

    <table class="table table-striped">
        <tr>
            <th>
                Hora
            </th>
            <th>
                Fecha
            </th>
            <th>
                Estado
            </th>
            <th>
                Actividad
            </th>
            <th>
                Operador
            </th>
            <th>
                Instructor
            </th>
            <th>
                Salon
            </th>
            <th></th>
        </tr>

        @foreach (var item in (List<Administrative_Management.Models.Reservation>)ViewBag.list)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.instructor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salon)
                </td>
                <td>
                    @Html.ActionLink("Editar", "SelectReservation", new { id = item.id }) |
                    @Html.ActionLink("Eliminar", "DeleteReservation", new { id = item.id })
                </td>
            </tr>
        }

    </table>

</body>
</html>
