﻿@model Administrative_Management.Models.Salon
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminSalonVIew</title>
</head>
<body>
    <div>
        <a href="CreateSalonView">Crear Salon</a>
    </div>

    <table class="table table-striped">
        <tr>
            <th>
                Numero
            </th>
            <th>
                Ubicacion
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>

        @foreach (var item in (List<Administrative_Management.Models.Salon>)ViewBag.list)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.ActionLink("Editar", "SelectSalon", new { id = item.id }) |
                    @Html.ActionLink("Eliminar", "DeleteSalon", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
