﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminInputView</title>
</head>
<body>
    <div>
        <a href="CreateInputView">Crear Insumo</a>
    </div>

    <table class="table table-striped">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>

        @foreach (var item in (List<Administrative_Management.Models.Input>)ViewBag.list)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
                @if (item.status == 1)
                {
                    <td>Disponible</td>
                }
                else if (item.status == 0)
                {
                    <td>Prestado</td>
                }
                else
                {
                    <td>Indispuesto</td>
                }
            <td>
                @Html.ActionLink("Editar", "SelectInput", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "DeleteInput", new { id = item.id })
            </td>
        </tr>
        }

    </table>
</body>
</html>
