﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminIncidentView</title>
</head>
<body>
    <div>
        <a href="CreateIncidentView">Crear Incidente</a>
    </div>

    <table class="table table-striped">
        <tr>
            <th>
                Descripcion
            </th>
            <th>
                Estado
            </th>
            <th>
                Tipo
            </th>
            <th></th>
        </tr>

        @foreach (var item in (List<Administrative_Management.Models.Incident>)ViewBag.list)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.ActionLink("Editar", "SelectReservation", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "DeleteReservation", new { id = item.id })
            </td>
        </tr>
        }

    </table>
</body>
</html>
