﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateInputView</title>
</head>
<body>
    <div>
        <form action="AddInput" method="post">
            <input type="text" placeholder="Nombre" name="txtName" value="" />
            <input type="text" placeholder="Marca" name="txtBrand" value="" />
            <input type="text" placeholder="Modelo" name="txtModel" value="" />
            <select name="cmbType" size="1">
                <option value="1">Computadoras</option>
                <option value="2">Cables</option>
                <option value="3">Cañoneras</option>
                <option value="4">Otros</option>
            </select>
            <input type="submit" value="Crear" name="btnSubmit" />
            <input type="submit" value="Cancelar" name="btnCancel" />
        </form>
    </div>
</body>
</html>
