﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateReservationView</title>
</head>
<body>
    <div>
        <form action="AddReservation" method="post">
            <input type="time" placeholder="hora" name="txtHour" value="" />
            <input type="date" placeholder="fecha" name="txtDate" value="" />
            <input type="text" placeholder="Actividad" name="txtActivity" value="" />
            <select name="cmbInstructor" size="1">
                @foreach (var item in (List<Administrative_Management.Models.User>)ViewBag.userList)
                {
                    <option value="@item.license">@item.username</option>
                }
            </select>
            <select name="cmbSalon" size="1">
                @foreach (var item in (List<Administrative_Management.Models.Salon>)ViewBag.salonList)
                {
                    <option value="@item.id">@item.number</option>
                }
            </select>
            <input type="submit" value="Crear" name="btnSubmit" />
            <input type="submit" value="Cancelar" name="btnCancel" />
        </form>
    </div>
</body>
</html>
