﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateIncidentLendView</title>
</head>
<body>
    <div>
        <form action="../AddIncidentLend" method="post">
            <label >@ViewBag.name</label>
            <textarea name="txtDescription"></textarea>
            <select name="cmbType" size="1">
                @foreach (var item in (List<Administrative_Management.Models.TypeIncident>)ViewBag.typeList)
                {
                    <option value="@item.id">@item.name</option>
                }
            </select>
            <input type="hidden" name="txtIdinput" value="@ViewBag.id" />
            <input type="submit" value="Crear" name="btnSubmit" />
            <input type="submit" value="Cancelar" name="btnCancel" />
        </form>
    </div>
</body>
</html>
