﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateSalonView</title>
</head>
<body>
    <div>
        <form action="AddSalon" method="post">
            <div>
                <input type="text" placeholder="Numero" name="txtNumber" value="" />
                <input type="text" placeholder="Ubicacion" name="txtLocation" value="" />
                <input type="submit" value="Crear" name="btnSubmit" />
                <input type="submit" value="Cancelar" name="btnCancel" />
            </div>
        </form>
    </div>
</body>
</html>
