﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateLendView</title>
</head>
<body>
    <div>
        <form action="../AddLend" method="post">
            <input type="hidden" name="txtidInput" value="@ViewBag.idInput" />
            <input type="text" name="txtName" value="@ViewBag.name" disabled />
            <select name="cmbUser" size="1">
                @foreach (var item in (List<Administrative_Management.Models.User>)ViewBag.Listuser)
                {
                    <option value="@item.license">@item.username</option>
                }
            </select>
            <input type="submit" value="Prestar" name="btnSubmit" />
            <input type="submit" value="Cancelar" name="btnCancel" />
        </form>
    </div>
</body>
</html>
