﻿@model Administrative_Management.Models.Reservation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditReservationView</title>
</head>
<body>
    <div>
        <form action="../EditReservation" method="post">
            <input type="hidden" name="txtId" value="@Model.id" />
            <input type="time" placeholder="hora" name="txtHour" value="@Model.hour" />
            <input type="date" placeholder="fecha" name="txtDate" value="@Model.date" />
            <input type="file" name="fileUpload" />
            <select name="cmbStatus" size="1">
                <option value="1">Disponible</option>
                <option value="0">Reservacion Parcial</option>
                <option value="2">Reservacion Finalizada</option>
            </select>
            <input type="text" placeholder="Actividad" name="txtActivity" value="@Model.activity" />
            <select name="cmbInstructor" size="1">
                @foreach (var item in (List<Administrative_Management.Models.User>)ViewBag.userList)
                {
                    <option value="@item.license">@item.username</option>
                }
            </select>
            <select name="cmbSalon" size="1">
                @foreach (var item in (List<Administrative_Management.Models.Salon>)ViewBag.salonList)
                {
                    <option value="@item.id">@item.number</option>
                }
            </select>
            <input type="submit" value="Editar" name="btnSubmit" />
            <input type="submit" value="Cancelar" name="btnCancel" />
        </form>
    </div>
</body>
</html>
