﻿@model Administrative_Management.Models.Salon

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditSalonView</title>
</head>
<body>
    <div>
        <form action="../EditSalon" method="post">
            <div>
                <input type="hidden" name="txtId" value="@Model.id" />
                <input type="text" placeholder="Numero" name="txtNumber" value="@Model.number" />
                <input type="text" placeholder="Ubicacion" name="txtLocation" value="@Model.location" />
                <select name="cmbStatus" size="1">
                    <option value="1">Disponible</option>
                    <option value="0">Ocupado</option>
                    <option value="2">Reservado</option>
                </select>
                <input type="submit" value="Editar" name="btnSubmit" />
                <input type="submit" value="Cancelar" name="btnCancel" />
            </div>
        </form>
    </div>
</body>
</html>
