﻿@model Administrative_Management.Models.Input
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditInputView</title>
</head>
<body>
    <div>
        <form action="../EditInput" method="post">
            <input type="hidden" name="txtId" value="@Model.id" />
            <input type="text" placeholder="Nombre" name="txtName" value="@Model.name" />
            <input type="text" placeholder="Marca" name="txtBrand" value="@Model.brand " />
            <input type="text" placeholder="Modelo" name="txtModel" value="@Model.model" />
            <select name="cmbStatus" size="1">
                @if (Model.status == 1)
                {
                    <option value="@Model.status">Disponible</option>
                    <option value="0">Prestado</option>
                    <option value="2">Indispuesto</option>
                }
                else if (Model.status == 0)
                {
                    <option value="@Model.status">Prestado</option>
                    <option value="1">Disponible</option>
                    <option value="2">Indispuesto</option>
                }
                else
                {
                    <option value="@Model.status">Indispuesto</option>
                    <option value="1">Disponible</option>
                    <option value="0">Prestado</option>
                }
            </select>
            <select name="cmbType" size="1">
                <option value="1">Computadoras</option>
                <option value="2">Cables</option>
                <option value="3">Cañoneras</option>
                <option value="4">Otros</option>
            </select>
            <input type="submit" value="Editar" name="btnSubmit" />
            <input type="submit" value="Cancelar" name="btnCancel" />
        </form>
    </div>
</body>
</html>
