﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LendInputView</title>
</head>
<body>
    <div>

    </div>

    <table class="table table-striped">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>

        @foreach (var item in (List<Administrative_Management.Models.Input>)ViewBag.list)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            @if (item.status == 1)
            {
                <td>Disponible</td>
            }
            else
            {
                <td>Prestado</td>
            }
                <td>
                    @if (item.status == 1)
                    {
                        @Html.ActionLink("Prestar", "CreateLendView", new { id = item.id })
                    }
                    else
                    {
                        @Html.ActionLink("Devolver", "ReturnInput", new { id = item.id })
                        @Html.ActionLink("Reportar Incidente", "ReportInput", new { id = item.id })
                    }
                </td>
        </tr>
        }

    </table>
</body>
</html>
