﻿@model Administrative_Management.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale-1" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/fontawesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>
<body>

    <div class="my-content">

        <div class="container">

            <div class="row">

                <div class="col-sm-12">

                    <h1>Registrarse</h1>

                </div>

            </div>

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3 myform-cont-2">

                    <div class="myform-top">

                        <div class="myform-top-left">
                            <p>Porfavor llene el formulario</p>
                        </div>
                    </div>

                    <div class="myform-bottom-2">
                        <form role="form" action="AddUser" method="post">
                            <div class="form-group">
                                <label class="col-sm-2">Carnet:</label>
                                <input type="number" placeholder="Carnet" name="txtLicense" value="" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2">Nombre:</label>
                                <input type="text" placeholder="Nombre" name="txtName" value="" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2">Apellido:</label>
                                <input type="text" placeholder="Apellido" name="txtlastName" value="" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5">Fecha de nacimiento:</label>
                                <input type="date" placeholder="Fecha de Nacimiento" name="txtBirthdate" value="" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2">Correo:</label>
                                <input type="text" placeholder="Correo" name="txtEmail" value="" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2">Telefono:</label>
                                <input type="number" placeholder="Telefono" name="txtPhone" value="" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2">Usuario:</label>
                                <input type="text" placeholder="Usuario" name="txtUsername" value="" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2">Contraseña:</label>
                                <input type="password" placeholder="Contraseña" name="txtPassword" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5">Confirmar contraseña:</label>
                                <input type="password" placeholder="Confirmar Contraseña" name="txtPasswordConfirm" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4">Palabra clave:</label>
                                <input type="text" placeholder="Palabra Clave" name="txtKeyword" value="" class="form-control" />
                            </div>
                            <button type="submit" name="btnSubmit" class="mybtn-2">Registrarse</button>
                            <button type="submit" name="btnCancel" class="mybtn-2">Cancelar</button>
                        </form>
                    </div>
                    
                </div>

            </div>

            <div class="row">

                <h2>@TempData["Message"]</h2>

            </div>

        </div>

    </div>
    <div>
        <form action="AddUser" method="post">
            <div>
                <input type="number" placeholder="Carnet" name="txtLicense" value="" />
                <input type="text" placeholder="Nombre" name="txtName" value="" />
                <input type="text" placeholder="Apellido" name="txtlastName" value="" />
                <input type="date" placeholder="Fecha de Nacimiento" name="txtBirthdate" value="" />
                <input type="text" placeholder="Correo" name="txtEmail" value="" />
                <input type="number" placeholder="Telefono" name="txtPhone" value="" />
                <input type="text" placeholder="Usuario" name="txtUsername" value="" />
                <input type="password" placeholder="Contraseña" name="txtPassword" />
                <input type="password" placeholder="Confirmar Contraseña" name="txtPasswordConfirm" />
                <input type="text" placeholder="Palabra Clave" name="txtKeyword" value="" />
                <input type="submit" value="Registrarse" name="btnSubmit" />
                <input type="submit" value="Cancelar" name="btnCancel" />
            </div>
        </form>
        <h2>@TempData["Message"]</h2>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
