﻿@model Administrative_Management.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminUsersView</title>
</head>
<body>
    <div>
        <a href="CreateUserView">Crear Usuario</a>
    </div>

    <table class="table table-striped">
        <tr>
            <th>
                Carnet
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Fecha de nacimiento
            </th>
            <th>
                Correo
            </th>
            <th>
                Telefono
            </th>
            <th>
                Usuario
            </th>
            <th>
                Rol
            </th>
            <th></th>
        </tr>
        
        @foreach (var item in (List<Administrative_Management.Models.User>)ViewBag.list)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.license)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                @Html.ActionLink("Editar", "SelectUser", new { id = item.license }) |
            @Html.ActionLink("Eliminar", "DeleteUser", new { id=item.license })
            </td>
        </tr>
}

    </table>
</body>
</html>
