﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChargeView</title>
</head>
<body>
    <div>
        <form action="UploadFile" method="post">
            <input type="file" id="txtPath" />
            <input type="submit" value="Cargar" name="btnSubmit" />
            <input type="submit" value="Cancelar" name="btnCancel" />
        </form>
    </div>
</body>
</html>
