﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateUserView</title>
</head>
<body>
    <div>
        <form action="AddUser" method="post">
            <div>
                <input type="number" placeholder="Carnet" name="txtLicense" value="" />
                <input type="text" placeholder="Nombre" name="txtName" value="" />
                <input type="text" placeholder="Apellido" name="txtlastName" value="" />
                <input type="date" placeholder="Fecha de Nacimiento" name="txtBirthdate" value="" />
                <input type="text" placeholder="Correo" name="txtEmail" value="" />
                <input type="number" placeholder="Telefono" name="txtPhone" value="" />
                <input type="text" placeholder="Usuario" name="txtUsername" value="" />
                <input type="password" placeholder="Contraseña" name="txtPassword" />
                <input type="password" placeholder="Confirmar Contraseña" name="txtPasswordConfirm" />
                <input type="text" placeholder="Palabra Clave" name="txtKeyword" value="" />
                <select name="cmbRole" size="1">
                    <option value="2">Operador</option>
                    <option value="4">Instructor</option>
                </select>
                <input type="submit" value="Crear" name="btnSubmit" />
                <input type="submit" value="Cancelar" name="btnCancel" />
            </div>
        </form>
        <h3></h3>
    </div>
</body>
</html>
