﻿@model Administrative_Management.Models.User
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>EditUserView</title>
    </head>
    <body>
        <div>
            <form action="../EditUser" method="post">
                <div>
                    <input type="number" placeholder="Carnet" name="txtLicense" value="@Model.license" disabled/>
                    <input type="text" placeholder="Nombre" name="txtName" value="@Model.name" />
                    <input type="text" placeholder="Apellido" name="txtlastName" value="@Model.lastName" />
                    <input type="date" placeholder="Fecha de Nacimiento" name="txtBirthdate" value="@Model.birthdate" />
                    <input type="text" placeholder="Correo" name="txtEmail" value="@Model.email" />
                    <input type="number" placeholder="Telefono" name="txtPhone" value="@Model.phone" />
                    <input type="text" placeholder="Usuario" name="txtUsername" value="@Model.username" />
                    <input type="submit" value="Editar" name="btnSubmit" />
                    <input type="submit" value="Cancelar" name="btnCancel" />
                </div>
            </form>
        </div>
    </body>
</html>
