﻿@model Administrative_Management.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePasswordView</title>
</head>
<body>
    <div>
        <form action="ChangePassword" method="post">
            <div>
                <input type="hidden" name="txtLicense" value="@Model.license" />
                <input type="password" placeholder="Nueva Contraseña" name="txtPassword" />
                <input type="password" placeholder="Confirme contraseña" name="txtConfirmPassword" />
                <input type="submit" value="Cambiar" name="btnSubmit" />
                <input type="submit" value="Cancelar" name="btnCancel" />
            </div>
        </form>
    </div>
</body>
</html>
