﻿@model Administrative_Management.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale-1"/>
    <title>LoginView</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/fontawesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>
<body>

    <div class="my-content">

        <div class="container">

            <div class="row">

                <div class="col-sm-12">

                    <h1>Plataforma para la gestion administrativa de la escuela de ingenieria en ciencias y sistemas</h1>

                </div>

            </div>

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3 myform-cont">

                    <div class="myform-top">

                        <div class="myform-top-left">
                            <h3>Login</h3>
                            <p>Porfavor ingrese su usuario y contraseña:</p>
                        </div>
                    </div>

                    <div class="myform-bottom">
                        <form role="form" action="Login/LoginUser" method="post">
                            <div class="form-group">
                                <input type="text" placeholder="Usuario" name="txtUser" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Contraseña" name="txtPassword" class="form-control"/>
                            </div>
                            <button type="submit" name="btnSubmit" class="mybtn">Acceder</button>
                        </form>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-sm-12 mysocial-login">
                    <div class="mysocial-login-hyperlink">
                        ¿No Tienes Cuenta?<a href="../RegisterStudent/RegisterStudentView">Registrarse</a>
                        <a href="Login/RecoverPasswordView">Olvide mi contraseña</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
