﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RecoverPasswordView</title>
</head>
<body>
    <div>
        <form action="RecoverPassword" method="post">
            <div>
                <input type="number" placeholder="Carnet" name="txtLicense" />
                <input type="text" placeholder="Palabra Clave" name="txtKeyword" />
                <input type="submit" value="Siguiente" name="btnSubmit" />
                <input type="submit" value="Cancelar" name="btnCancel" />
            </div>
        </form>
    </div>
</body>
</html>
