﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DowloadQRView</title>
</head>
<body>
    <div> 
            <img name="imgQr"  src="@ViewBag.src" width="@ViewBag.width" height="@ViewBag.height"/>
            <label>Para descargar el QR de clic derecho en la imagen, Guardar como</label>
            <a href="../ViewReservation">Regresar</a>
    </div>
</body>
</html>
