﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UploadPresentationView</title>
</head>
<body>
    <div> 
        <form action="../addPresentation" method="post">
            <input type="hidden" name="txtIdReservation" value="@ViewBag.id" />
            <input type="file" name="uploadFile" />
            <input type="submit" value="Subir" name="btnSubmit" />
            <input type="submit" value="Cancelar" name="btnCancel" />
        </form>
    </div>
</body>
</html>
