﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UploadQuestionnaireView</title>
</head>
<body>
    <div> 
        <form action="../addQuestionnaire" method="post">
            <input type="hidden" name="txtidReservation" value="@ViewBag.id" />
            <label>Ingrese el cuestionario con el sigueinte formato: pregunta1;pregunta2;pregunta3; etc..</label>
            <textarea name="txtQuestionnaire"></textarea>
            <input type="submit" value="Agregar" name="btnSubmit" />
            <input type="submit" value="Cancelar" name="btnCancel" />
        </form>
    </div>
</body>
</html>
