﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewReservation</title>
</head>
<body>
    <div>
        <table class="table table-striped">
            <tr>
                <th>
                    Hora
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Actividad
                </th>
                <th>
                    Salon
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in (List<Administrative_Management.Models.Reservation>)ViewBag.ListReservationCompleted)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hour)
                </td>
                <td>
                    @Html.ActionLink("Descargar Codigo QR", "DowloadQRView", new { id = item.id })
                </td>
                <td>
                    @Html.ActionLink("Subir Presentacion", "UploadPresentationView", new { id = item.id })
                </td>
                <td>
                    @Html.ActionLink("Añadir Cuestionario", "UploadQuestionnaireView", new { id = item.id })
                </td>
            </tr>
            }

        </table>
    </div>
</body>
</html>
